:root {
    --warm-brown: #b58b63;
    --mild-creme: #f6efe8;
    --soft-green: #a5b58d;
}

/*-----------------------------*/

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
    align-content: center;
}

.ver-div {
    display: inline;
    height: 90%;
    width: 1px;
    background-color: #816447;
    align-self: center;
}

.flex-left {
    align-self: flex-start;
}
.left .arc-inverse {
    transform: translate(-50%, 0);
}

.flex-right {
    align-self: flex-end;
}

/*-----------------------------*/

body {
    margin: 0;
}

#wrapper {
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75vh auto 10%;
}

#wrapper > header {
    grid-column: 1 / -1;
    /*background-image: url('../img/arc.png');
    background-position: -50% 100%;
    background-size: cover;*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 4fr 1fr;
    align-items: center;
    background-color: var(--soft-green);
}

hr {
    color: var(--warm-brown);
}

/*-----------------------------*/

main {

}

main > section {

}

form {

}

textarea, input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
}

textarea {
    display: block;
}

.inputbox {
    position: relative;
    margin-bottom: calc(1em);
    border-bottom: solid 2px var(--soft-green);
}

.inputbox > label {
    position: relative;
    top: 0%;
    left: 5px;
    transform: translateY(50%);
    transition: .3s;
}

.inputbox > input:focus~label {
    top: -50%;
}

.inputbox > textarea {
    border: solid 2px var(--soft-green);
}
