:root {
    --warm-brown: #b58b63;
    --mild-creme: #f6efe8;
    --soft-green: #a5b58d;
}

/*-----------------------------*/

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
    align-content: center;
}

.ver-div {
    display: inline;
    height: 90%;
    width: 1px;
    background-color: #816447;
    align-self: center;
}

.left .arc-inverse {
    transform: translate(-50%, 0);
}

.flex-right-sec {
    align-self: flex-end;
}

.flex-left-sec {
    align-self: flex-start;
}

.flex-right {
    justify-self: flex-end;
}

.flex-left {
    justify-self: flex-start;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*-----------------------------*/

body {
    margin: 0;
}

#wrapper {
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75vh auto auto;
}

#wrapper > header {
    grid-column: 1 / -1;
    /*background-image: url('../img/arc.png');
    background-position: -50% 100%;
    background-size: cover;*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 4fr 1fr;
    align-items: center;
    background-color: var(--soft-green);
}

hr {
    color: var(--warm-brown);
}

/*-----------------------------*/

main {
    margin-bottom: 100px;
}

main > section {

}

form {

}

textarea, input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
}

textarea {
    display: block;
}

.inputbox {
    position: relative;
    margin-bottom: calc(1em);
    border-bottom: solid 2px var(--soft-green);
}

.anim > label {
    position: absolute;
    top: 0%;
    left: 5px;
    transform: translateY(100%);
    transition: .3s;
}

.anim > input:focus~label {
    top: -50%;
}

.inputbox > textarea {
    padding: 0;
    border: solid 2px var(--soft-green);
}

form > button {
    border-radius: 10px;
    padding: 5px 0;
    background-color: #a2a540;
    color: #ffffff;
    border: none;
    border-bottom: solid 2px var(--mild-creme);
    font-size: 1.5em;
    transition: background-color .3s;
}

form > button:hover {
    background-color: #7f8226;
}

input:not(:required)+label > span {
    margin-left: 5px;
    padding: 2px;
    background-color: var(--mild-creme);
    color: #202020;
    border-radius: 15%;
}


footer {
    background-color: #a7d776;
}

footer > section {
    width: 50%;
    margin: 0 auto;
}

footer > section p, footer > section a {
    padding: 5px;
    background-color: #202020;
    color: #ffffff;
    border-radius: 5px;
}

.footer-list {
    width: 80%;
    padding: 0;
    margin: 10px;
}