:root {
    --warm-brown: #b58b63;
    --mild-creme: #f6efe8;
    --soft-green: #a5b58d;
}

/*-----------------------------*/

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
    align-content: center;
}

.ver-div {
    display: inline;
    height: 90%;
    width: 1px;
    background-color: #816447;
    align-self: center;
}

.flex-left {
    align-self: flex-start;
}
.left .arc-inverse {
    transform: translate(-50%, 0);
}

.flex-right {
    align-self: flex-end;
}

/*-----------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

#wrapper {
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75vh auto 10%;
}

#wrapper > header {
    grid-column: 1 / -1;
    /*background-image: url('../img/arc.png');
    background-position: -50% 100%;
    background-size: cover;*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 4fr 1fr;
    align-items: center;
    background-color: var(--soft-green);
}

hr {
    color: var(--warm-brown);
}

h1 {
    margin: 5px 0;
}

/*-----------------------------*/

.menu {
    grid-column: 1/-1;
    background-color: var(--soft-green);
}

.group {
    margin: 10px auto;
    width: 80%;
    padding: 20px;
    background-color: var(--warm-brown);
    gap: 20px;
    justify-content: space-evenly;
    box-shadow: 5px 5px 1px 0px #49392989;
    border-radius: 5px;
}

@keyframes item-background {
    from {
        background: linear-gradient(180deg, var(--warm-brown) 0%, color-mix(in srgb, var(--warm-brown) 100%, #816447 50%) 50%, rgba(255, 255, 255, 0) 100%);
    }
    to {
        background: linear-gradient(180deg, var(--warm-brown) 0%, color-mix(in srgb, var(--warm-brown) 100%, #816447 100%) 50%, rgba(255, 255, 255, 0) 100%);
    }
}

.item {
    flex-basis: 20%;
    max-height: 100%;
    border-radius: 5px;
    /*color-mix(in srgb, var(--warm-brown) 100%, #816447 50%)*/
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, .3) 50%, rgba(255, 255, 255, 0) 100%);
    border-top: solid #816447 2px;
    transition: border-top .2s;
}

.item:hover {
    border-top: solid #816447 5px;
    animation: item-background .2s linear 0s 0 both alternate-reverse;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.item h1 {
    text-align: center;
}

.item p {
    margin-left: 10%;
}

.item > img {
    border-radius: 5px;
    margin: 5px;
}

.title-frame {
    margin: 10px;
    width: 100%;
    height: max-content;
    text-align: center;
}