/* Denna fil skall innehålla din CSS kod */

:root {
    --warm-brown: #b58b63;
    --mild-creme: #f6efe8;
    --soft-green: #a5b58d;
}

body {
    margin: 0;
}

#wrapper {
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 75vh 50vh;
}

#wrapper > header {
    grid-column: 1 / -1;
    /*background-image: url('../img/arc.png');
    background-position: -50% 100%;
    background-size: cover;*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 4fr 1fr;
    align-items: center;
}

#wrapper > footer {
    grid-column: 1 / -1;
}

#wrapper > section {
    grid-column: 1 / -1;
    background-color: var(--soft-green);
}

section > div {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

section > div > div {
    width: 50%;
    height: 100%;
    /* transform: translate(50%, 0); */
}

#overlay-flow {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#overlay-flow > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#image-1 {
    background-image: url('../img/Image_created_with_a_mobile_phone.png');
    width: 100%;
    height: 100%;
}

.arc-inverse {
    display: block;
    width: 200%;
    height: 100%;
    background-image: url('../img/arcInverse.png');
    background-repeat: no-repeat;
    background-clip: content-box;
}

.section-top {
    display: grid;
    min-height: 10%;
    grid-template-columns: repeat(3, minmax(10%, 1fr));
    grid-template-rows: repeat(3, minmax(10%, 50%));
}

.section-top > * {
    grid-row: 1/-1;
    grid-column: 1/-1;
}

.section-top > h1 {
    grid-column: 2/2;
    grid-row: 3/3;
    align-self: center;
    text-align: center;
}

.section-bottom {
    width: 90%;
    height: 50%;
    background-color: var(--mild-creme);
    border-radius: .1%;
    padding: 5%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

hr {

}

.ver-div {
    display: inline;
    height: 90%;
    width: 1px;
    background-color: #816447;
    align-self: center;
}

.left {
    float: left;
}
.left .arc-inverse {
    transform: translate(-50%, 0);
}

.right {
    float: right;
}

/*div {
    width: 500px;
    aspect-ratio: 1/1;
    display: inline-block;
    background:
    /*linear-gradient(0deg, rgba(255,255,255, 1), rgba(255,255,255, 0));
    linear-gradient(90deg, rgba(255,255,255,1), rgba(255,255,255,0) 5%,
      rgba(255,255,255,0) 95%, rgba(255,255,255,1));
}

img {
    width: 100%;
    position: relative;
    z-index: -1;
}*/
