/* Denna fil skall innehålla din CSS kod */

:root {
    --color-1: #b58b63;
    --color-2: #f6efe8;
    --color-3: #a5b58d;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

/* Overlay flow */

.overlay-flow {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.overlay-flow > div {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
}

.image-2 {
    position: relative;
    width: 100%;
    height: 50%;
}

.image-2 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.gradient {
    position: absolute;
    transform: translateY(-50%);
    height: 30%;
    z-index: 1;
    background: linear-gradient(0deg, rgba(133, 90, 55, 0) 0%, rgba(133, 90, 55, .3) 30%, rgba(133, 90, 55, 0.9) 50%, rgba(133, 90, 55, .3) 70%, rgba(133, 90, 55, 0) 100%);
    backdrop-filter: blur(2px);
}

.gradient > .middle {
    width: 100%;
    height: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    backdrop-filter: saturate(.9) blur(1px);
    z-index: 2;
}

@keyframes entry {
    from {
        height: 200%;
    }
    to {
        height: 0;
    }
}

.entry-anim {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 2;

}

@media not (prefers-reduced-motion: reduce) {
    .entry-anim {
        backdrop-filter: saturate(0);
        animation: entry 1s linear forwards;
    }
}

/*Normal flow*/

#wrapper {
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75vh 15% 40vw 50vh;
}

#wrapper > * {
    grid-column: 1 / -1;
}

#wrapper > header {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
}

#wrapper > footer {
    grid-column: 1 / -1;
}

#wrapper > section {
    grid-column: 1 / -1;
    /* background-color: var(--color-3); */
}

/* Normal flow */

section > div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;

    width: 60%;
    height: 100%;
    max-width: 600px;
}

.card-container {
    grid-column: 1 / -1;
    align-self: center;
    height: 90%;
}

.background-gradient {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: -1;
    width: 125%;
    height: calc(100% + 40px);

    backdrop-filter: blur(5px);
}

.qtr-circle {
    background-color: var(--color-2);
    border-top-left-radius: 100%;
}

.half-circle {
    grid-area: cir;
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    /* top: 51%;
    transform: translateY(-50%); */
    background-color: var(--color-2);
    border-radius: 0 0% 84% 0;
}

.section-top {
    grid-area: top;
    display: grid;
    height: 100%; /* 20%; */
    min-height: 10%;
    grid-template-columns: repeat(3, minmax(10%, 1fr));
    grid-template-rows: 2fr 1.5fr 1fr;
    z-index: 1;
}

.section-top > * {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.section-top > h2 {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;

    align-self: center;
    text-align: left;
    margin: 0 10px;
    font-size: clamp(.5em, 10vw, 2em);
}

.section-bottom {
    grid-area: mid;

    box-sizing: border-box;
    padding: 10px;

    background-color: var(--color-2);
    box-shadow: -15px 17px 20px 1px rgba(144, 108, 55, .33);
   /*  border-bottom-left-radius: 4px; */
}

.section-bottom > div {
    width: 90%;
    height: 90%;
}

.wave {
    grid-area: bot;

    width: calc(100% + 8px);
    left: -2px;
    height: 50px;
    transform: rotate(180deg);
    overflow: hidden;
}

.wave path {
    fill: var(--color-2);
}

.text-emphasise {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Right & left alignement of items */

.card-left {
    display: grid;
    grid-template-columns: auto 5%;
    grid-template-rows: 20% calc(80% - 50px) 50px;
    grid-template-areas: 
    "top top"
    "mid cir"
    "bot .";

    & .qtr-circle {
        /*Adjust radius so that it applies to the right side*/
        border-top-left-radius: 0;
        border-top-right-radius: 100%;
    }

    & .section-top > h2 {
        /*Align text to left side of card*/
        grid-column: 1 / span 2;
        text-align: right;
    }

    & .background-gradient {
        position: relative;
        left: 0;

        background: radial-gradient(
            circle at 40% 50%,
            hsl(from var(--color-1) h calc(s * 1) l / .9) 0%,
            hsl(from var(--color-1) h s l / .6)  70%,
            hsl(from var(--color-1) h s l / .2)  80%,
            hsl(from var(--color-1) h s l / .02)  88%,
            hsl(from var(--color-1) h s l / 0)  96%,
            hsl(from var(--color-1) h s l / 0)  100%
        );
        border-bottom-right-radius: 1000px;
        border-top-right-radius: 1000px;
        /* clip-path: circle(50% at center center); */
        transform: translate(0, -10px);
    }

    & .wave {
        transform: rotate3d(1, 0, 0, 180deg);
    }
}

.card-right {
    display: grid;
    grid-template-columns: 5% auto;
    grid-template-rows: 20% calc(80% - 50px) 50px;
    grid-template-areas: 
    "top top"
    "cir mid"
    ". bot";

    & .half-circle {
        border-radius: 0 0 0 84%;
    }
    & .wave {
        left: -6px;
    }

    & .background-gradient {
        position: relative;
        right: 25%;

        background: radial-gradient(
            circle at 60% 50%,
            hsl(from var(--color-1) h calc(s * 1) l / .9) 0%,
            hsl(from var(--color-1) h s l / .6)  70%,
            hsl(from var(--color-1) h s l / .2)  80%,
            hsl(from var(--color-1) h s l / .02)  88%,
            hsl(from var(--color-1) h s l / 0)  96%,
            hsl(from var(--color-1) h s l / 0)  100%
        );
        border-bottom-left-radius: 1000px;
        border-top-left-radius: 1000px;
        /* clip-path: circle(50% at center center); */
        transform: translate(0px, -10px);
    }
}

.card-container:has(.left ~ .right, .right ~ .left) > .card {
    width: 40%;
}




/* .left .qtr-circle {
    border-top-left-radius: 0;
    border-top-right-radius: 100%;
}
.right .half-circle {
    border-radius: 0 0 0 100%;
}
.right .wave {
    left: -4px;
} */

/*div {
    width: 500px;
    aspect-ratio: 1/1;
    display: inline-block;
    background:
    /*linear-gradient(0deg, rgba(255,255,255, 1), rgba(255,255,255, 0));
    linear-gradient(90deg, rgba(255,255,255,1), rgba(255,255,255,0) 5%,
      rgba(255,255,255,0) 95%, rgba(255,255,255,1));
}

img {
    width: 100%;
    position: relative;
    z-index: -1;
}*/
